<?xml version="1.0"?>
<!--
Web.config file for CSF.Screenplay.WebTestWebsite.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
        <section name="PluginConfigurationSection" type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <CSF>
    <Zpt>
      <PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider" DefaultXmlDocumentProvider="CSF.Zpt.DocumentProviders.XmlLinqZptDocumentProvider" DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
        <PluginAssemblies>
          <Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP" />
          <Assembly Name="CSF.Zpt.DocumentProviders.XmlLinq" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions" />
        </PluginAssemblies>
      </PluginConfigurationSection>
    </Zpt>
  </CSF>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Dynamic, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>