<html>
    <head>
    </head>
    <body>
        <h1>Delayed navigation landing</h1>
        <p>
            This is the page which takes @Model second(s) to load.
        </p>
        <p id="textContent">You're finally here!</p>
    </body>
</html>