environment:
    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
          JAVA_HOME: C:\Program Files\Java\jdk17
        - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2204
          JAVA_HOME: /usr/lib/jvm/jdk15

skip_branch_with_pr: true

# A note/reminder for readers: Script items prefixed "cmd:" are executed on Windows-only environments.
# Items with no prefix (or "ps:" prefix) are run on all environments (Windows & Linux)

init:
    - cmd: git config --global core.autocrlf true

install:
    - cmd: dotnet tool install --global dotnet-sonarscanner
    - cmd: dotnet tool install --global coverlet.console
    - cmd: dotnet tool update -g docfx
    - cmd: echo The path is %PATH%
    - ps: |
        cd CSF.Screenplay.JsonToHtmlReport.Template\src
        npm ci
        cd ..\..
    # This was taken from https://stackoverflow.com/questions/60304251/unable-to-open-x-display-when-trying-to-run-google-chrome-on-centos-rhel-7-5
    # It's the minimum dependencies for running Chrome in a headless environment on Linux
    - sh: |
        sudo apt-get update
        sudo apt install -y xorg xvfb gtk2-engines-pixbuf dbus-x11 xfonts-base xfonts-100dpi xfonts-75dpi xfonts-cyrillic xfonts-scalable

before_build:
    - dotnet --version
    - dotnet restore --verbosity m
    - dotnet clean
    - cmd: Tools\appveyor-setup-env.bat
    - cmd: Tools\appveyor-setup-selenium.bat
    - cmd: >
        dotnet-sonarscanner begin 
        /k:"csf-dev_CSF.Screenplay"
        /v:AppVeyor_build_%APPVEYOR_BUILD_NUMBER%
        /o:craigfowler-github
        /d:sonar.host.url=https://sonarcloud.io
        /d:sonar.token=%SONARCLOUD_SECRET_KEY%
        /d:%BranchParam%=%BranchName%
        %PRParam%
        /d:sonar.javascript.lcov.reportPaths=%APPVEYOR_BUILD_FOLDER%\CSF.Screenplay.JsonToHtmlReport.Template\src\TestResults\lcov.info
        /s:%APPVEYOR_BUILD_FOLDER%\.sonarqube-analysisproperties.xml
    # Activate Xvfb and export a display so that Chrome can run in Linux
    - sh: |
        Xvfb -ac :99 -screen 0 1280x1024x16 &
        export DISPLAY=:99

build_script:
    - dotnet build --no-incremental

test_script:
    - ps: if ($isWindows) { Tools\run-tests-with-coverage.ps1 }
    - sh: >
        dotnet test
        --test-adapter-path:.
        --logger:nunit
    - ps: |
        cd CSF.Screenplay.JsonToHtmlReport.Template\src
        npm test
        cd ..\..

after_test:
    - cmd: >
        dotnet-sonarscanner end
        /d:"sonar.token=%SONARCLOUD_SECRET_KEY%"
    - ps: if ($isWindows) { Tools\appveyor-upload-test-results.ps1 }
    - cmd: dotnet build -c Docs
    - ps: if ($isWindows) { Tools\appveyor_publish_docs.ps1 }
