bin/
obj/
packages/*/*
testrunner/
.directory
*.userprefs
*.csproj.user
.vs/
TestResult.xml
TestResult.formatted.xml
*.report.txt
Tests/Temp/
Screenshots/
*.log
*.orig
.xsp4.pid
Backup/
UpgradeLog.htm
*.nupkg
