<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="CSF">
			<sectionGroup name="Zpt">
				<section name="PluginConfigurationSection" type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt"/>
				<sectionGroup name="ExpressionEvaluators">
					<sectionGroup name="CSharpExpressions">
						<section name="ExpressionConfigurationSection"
							type="CSF.Zpt.ExpressionEvaluators.CSharpExpressions.ExpressionConfigurationSection, CSF.Zpt.ExpressionEvaluators.CSharpExpressions"/>
					</sectionGroup>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<CSF>
		<Zpt>
			<PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider"
				DefaultXmlDocumentProvider="CSF.Zpt.DocumentProviders.XmlLinqZptDocumentProvider"
				DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
				<PluginAssemblies>
					<Assembly Name="CSF.Zpt.ExpressionEvaluators.LoadExpressions"/>
					<Assembly Name="CSF.Zpt.DocumentProviders.XmlLinq"/>
					<Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions"/>
					<Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions"/>
					<Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions"/>
					<Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions"/>
					<Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP"/>
				</PluginAssemblies>
			</PluginConfigurationSection>
			<ExpressionEvaluators>
				<CSharpExpressions>
					<ExpressionConfigurationSection>
						<Assemblies>
							<Assembly Name="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
						</Assemblies>
						<Namespaces>
							<Namespace Name="System"/>
							<Namespace Name="System.Linq"/>
						</Namespaces>
					</ExpressionConfigurationSection>
				</CSharpExpressions>
			</ExpressionEvaluators>
		</Zpt>
	</CSF>
</configuration>
