<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
        <section name="PluginConfigurationSection" type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt"/>
        <sectionGroup name="ExpressionEvaluators">
          <sectionGroup name="CSharpExpressions">
            <section name="ExpressionConfigurationSection"
              type="CSF.Zpt.ExpressionEvaluators.CSharpExpressions.ExpressionConfigurationSection, CSF.Zpt.ExpressionEvaluators.CSharpExpressions"/>
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <CSF>
    <Zpt>
      <PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider"
        DefaultXmlDocumentProvider="CSF.Zpt.DocumentProviders.XmlLinqZptDocumentProvider"
        DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
        <PluginAssemblies>
          <Assembly Name="CSF.Zpt.DocumentProviders.XmlLinq"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions"/>
          <Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.LoadExpressions"/>
        </PluginAssemblies>
      </PluginConfigurationSection>
      <ExpressionEvaluators>
        <CSharpExpressions>
          <ExpressionConfigurationSection>
            <Assemblies>
              <Assembly Name="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </Assemblies>
            <Namespaces>
              <Namespace Name="System"/>
              <Namespace Name="System.Linq"/>
            </Namespaces>
          </ExpressionConfigurationSection>
        </CSharpExpressions>
      </ExpressionEvaluators>
    </Zpt>
  </CSF>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="nunit.framework"
                            publicKeyToken="2638cd05610744eb"
                            culture="neutral" />
          <bindingRedirect oldVersion="3.0.0.0-3.7.1.0"
                           newVersion="3.7.1.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Moq"
                            publicKeyToken="69f491c39445e920"
                            culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.7.25.0"
                           newVersion="4.7.25.0" />
        </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
