<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebDriverFactory" type="CSF.WebDriverExtras.Config.WebDriverFactoryConfigurationSection, CSF.WebDriverExtras"/>
  </configSections>
  <WebDriverFactory AssemblyQualifiedTypeName="CSF.WebDriverExtras.Factories.SauceConnectDriverFactory, CSF.WebDriverExtras"
                    EnvironmentVariableSupportEnabled="True">
    <FactoryOptions>
      <Property Name="RemoteWebDriverAddress" Value="http://ondemand.saucelabs.com/wd/hub" />
    </FactoryOptions>
  </WebDriverFactory>
</configuration>
