<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebDriverFactory" type="CSF.WebDriverExtras.Config.WebDriverFactoryConfigurationSection, CSF.WebDriverExtras"/>
  </configSections>
	<!--
  <WebDriverFactory AssemblyQualifiedTypeName="CSF.WebDriverExtras.Factories.SauceConnectDriverFactory, CSF.WebDriverExtras">
    <FactoryOptions>
      <Property Name="BrowserName" Value="BROWSER" />
      <Property Name="BrowserVersion" Value="VERSION" />
      <Property Name="RemoteWebDriverAddress" Value="http://ondemand.saucelabs.com/wd/hub" />
      <Property Name="SauceConnectUsername" Value="craigfowler_screenplay" />
      <Property Name="SauceConnectApiKey" Value="SECRET" />
      <Property Name="SauceLabsBuildName" Value="Interactive build for ISSUE_NUMBER" />
    </FactoryOptions>
  </WebDriverFactory>
	-->
  <WebDriverFactory AssemblyQualifiedTypeName="CSF.WebDriverExtras.Factories.ChromeDriverFactory, CSF.WebDriverExtras">
    <FactoryOptions></FactoryOptions>
  </WebDriverFactory>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="6.0.4.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
