<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebDriverFactory" type="CSF.WebDriverExtras.Config.WebDriverFactoryConfigurationSection, CSF.WebDriverExtras"/>
  </configSections>
  <WebDriverFactory AssemblyQualifiedTypeName="CSF.WebDriverExtras.Factories.FirefoxDriverFactory, CSF.WebDriverExtras">
    <FactoryOptions>
			<Property Name="WebBrowserExecutablePath" Value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    </FactoryOptions>
  </WebDriverFactory>
</configuration>
