html.js body>header .summary .help_text {
  display: block;
}
html.js #summary_table td {
  cursor: pointer;
}
html.js #summary_table td.active {
  background: #FFD;
}

html.js .feature.collapsed .scenarios,
html.js .scenario.collapsed .reportables {
  display: none;
}
html.js .feature.collapsed {
  border-bottom: 1px solid #A9A9A9;
}
html.js .feature.collapsed.last_visible {
  border-bottom-width: 0;
}
html.js .feature.collapsed header,
html.js .scenario.collapsed header {
  border-bottom: 0 none;
}
html.js .feature:last-child.collapsed header {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
html.js .feature>header,
html.js .scenario>header {
  cursor: pointer;
}
html.js .reportable.collapsed .additional_content {
  display: none;
}
.feature>header:before,
.scenario>header:before,
html.js .reportable>.has_content>.description>.body:before {
  float: left;
  margin-left: -1.2em;
  font-size: 90%;
  vertical-align: middle;
  color: #999;
  padding: 0 0.2em;
  width: 1em;
  display: block;
  text-align: center;
}
html.js .reportable>.has_content>.description>.body {
  padding-left: 0.9em;
  cursor: pointer;
}
.feature>header:before {
  line-height: 1.4em;
}
.scenario>header:before {
  line-height: 1.1em;
}
html.js .feature>header:before,
html.js .scenario>header:before,
html.js .reportable>.has_content>.description>.body:before {
  content: '▼';
}
html.js .feature.collapsed>header:before,
html.js .scenario.collapsed>header:before,
html.js .reportable.collapsed>.has_content>.description>.body:before {
  content: '▶';
}

html.js section.report.filter_features_success .feature.failure,
html.js section.report.filter_features_failing .feature.success,
html.js section.report.filter_scenarios_success .scenario.failure,
html.js section.report.filter_scenarios_failing .scenario.success {
  display: none;
}
html.js .feature.first_visible,
html.js .feature.first_visible>header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
html.js .feature.last_visible {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-width: 0;
}
html.js .feature.last_visible .scenario.last_visible {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-width: 0;
}
html.js .scenario.last_visible,
html.js .scenario.last_visible>header {
}
.feature.last_visible .scenario.last_visible .reportable:last-child {
  border-bottom-right-radius: 6px;
  padding-bottom: 0.4em;
}