.report .features {
  border-radius: 6px;
  border: 1px solid #EB9;
}
.feature {
  background-color: #E0E0E0;
}
.feature:first-child,
.feature:first-child>header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.feature:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-width: 0;
}
.feature>header {
  padding: 0.8em 0.4em 0.4em 1.4em;
  background: linear-gradient(to bottom, #FFF 0%,#E0E0E0 100%);
  overflow: auto;
  border-bottom: 1px solid #B9B9B9;
}
.feature.failure>header {
  background: linear-gradient(to bottom, #FAA 0%,#E0E0E0 100%);
}
.feature>header .identifier {
  font-size: 80%;
  color: #777;
  float: right;
}
.feature>header .name {
  font-size: 140%;
  float: left;
}
.scenario>header {
  padding: 1.4em 0.4em 0.4em 2em;
  background: linear-gradient(to bottom, #E0E0E0 0%,#D0D0D0 100%);
  overflow: auto;
}
.scenario.failure>header {
  background: linear-gradient(to bottom, #F99 0%,#D0D0D0 100%);
}
.scenario {
  border-bottom: 1px solid #B9B9B9;
  background-color: #D0D0D0;
}
.feature:last-child .scenario:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.scenario>header .identifier {
  font-size: 80%;
  color: #777;
  float: right;
}
.scenario>header .name {
  font-size: 110%;
  float: left;
  font-style: italic;
}
.scenario>.reportables {
  font-size: 90%;
}
.scenario>.reportables>.reportable {
  background: #E0E0E0;
  margin-left: 6.4em;
  border-left: 1px solid #B0B0B0;
}
.scenario>.reportables>.reportable .failure {
    color: #900;
    font-style: italic;
}
.scenario>.reportables>.reportable .performance:before,
.scenario>.reportables>.reportable .ability:before {
    float: right;
    font-size: 110%;
    margin: 0.1em 0.6em 0 0.2em;
    padding-top: 0.2em;
    line-height: 140%;
    vertical-align: middle;
}
.scenario>.reportables>.reportable .failure:before {
    content: "✘";
    color: #900;
}
.scenario>.reportables>.reportable .success:before {
    content: "✔";
    color: #999;
}
.scenario>.reportables>.reportable .failure .additional_content {
    color: #000;
    font-style: normal;
}
.feature:last-child .scenario:last-child .reportable:last-child {
  border-bottom-right-radius: 6px;
  padding-bottom: 0.4em;
}
.reportable {
  margin-left: 0;
}
.reportable .reportables {
  padding-left: 2em;
  margin-top: -0.4em;
}
.reportable .description {
  overflow: auto;
  padding: 0.4em 0;
  line-height: 140%;
}
.scenario>.reportables>.reportable>* {
  margin-left: -3.6em;
}
.reportable .description .performance_type {
  display: block;
  float: left;
  min-width: 4em;
  font-weight: bold;
  min-height: 1.2em;
}
.reportable .description .body {
  display: block;
  float: left;
}
.reportable .additional_content {
  margin: 0.4em 0 0 4em;
}
.reportable .reportable .additional_content {
  margin-left: 0;
}
.reportable .extended_content {
  font-size: 90%;
  line-height: 120%;
  padding-bottom: 0.6em;
}
.reportable .extended_content strong {
  font-weight: bold;
}
.reportable .extended_content pre {
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
  margin-right: 0.4em;
  background: #D0D0D0;
  border: 1px solid #B0B0B0;
  padding: 0.2em;
  max-height: 15em;
  overflow: auto;
}
