<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebDriverFactory" type="CSF.WebDriverFactory.Config.WebDriverConfigurationSection, CSF.WebDriverFactory" />
  </configSections>
  <WebDriverFactory FactoryType="CSF.WebDriverFactory.Impl.ChromeWebDriverFactory, CSF.WebDriverFactory">
    <FactoryProperties>
      <Property Name="CommandTimeoutSeconds" Value="10" />
    </FactoryProperties>
  </WebDriverFactory>
</configuration>
