<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebDriverFactory" type="CSF.WebDriverFactory.Config.WebDriverConfigurationSection, CSF.WebDriverFactory" />
  </configSections>
  <WebDriverFactory FactoryType="CSF.Screenplay.Web.Tests.SauceConnectWebDriverFactory, CSF.Screenplay.Web.Tests">
    <FactoryProperties>
      <Property Name="RemoteAddress" Value="http://ondemand.saucelabs.com/wd/hub" />
      <Property Name="CommandTimeoutSeconds" Value="15" />
      <Property Name="BrowserNameVar" Value="BROWSER_NAME" />
      <Property Name="BrowserVersionVar" Value="BROWSER_VERSION" />
      <Property Name="PlatformVar" Value="BROWSER_PLATFORM" />
    </FactoryProperties>
  </WebDriverFactory>
</configuration>
