body.js .feature.collapsed .scenarios,
body.js .scenario.collapsed .reportables {
  display: none;
}
body.js .feature>header,
body.js .scenario>header {
  cursor: pointer;
}
.feature>header:before,
.scenario>header:before {
  float: left;
  margin-left: -1.2em;
  font-size: 90%;
  vertical-align: middle;
  color: #999;
  padding: 0 0.2em;
  width: 1em;
  display: block;
  text-align: center;
}
.feature>header:before {
  line-height: 1.4em;
}
.scenario>header:before {
  line-height: 1.1em;
}
body.js .feature>header:before,
body.js .scenario>header:before {
  content: '▼';
}
body.js .feature.collapsed>header:before,
body.js .scenario.collapsed>header:before {
  content: '▶';
}
