body {
  font-family: "DejaVu Sans", "Droid Sans", "Verdana", Arial, sans;
  padding: 0.6em;
}
body>header {
  border-bottom: 1px solid #CCC;
  margin-bottom: 1em;
}
body>header h1 {
  font-size: 200%;
  line-height: 140%;
  color: #999;
}
body>footer {
  border-top: 1px solid #CCC;
  margin-top: 1em;
  line-height: 140%;
  font-size: 90%;
  color: #999;
}
body>footer .timestamp {
  color: #444;
}
body>footer a {
  text-decoration: none;
  color: #337;
}
body>footer a:hover {
  border-bottom: 1px solid #337;
}
