body {
  font-family: sans-serif;
  line-height: 1.4em;
}
.page {
  padding: 0 1em;
}
h1 {
  font-size: 220%;
  line-height: 1.4em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 160%;
  line-height: 1.4em;
  margin: 1em 0 0.2em;
}
p {
  margin-bottom: 0.8em;
}
code {
  font-family: monospace;
}
strong {
  font-weight: bold;
}
body>header {
  margin-bottom: 2em;
  background-color: #225;
  color: #EEE;
  padding: 1em;
}
body>header h2 {
  font-size: 120%;
  line-height: 1.7em;
  margin: 0;
}
body>header h2 strong {
  font-size: 150%;
}
body>footer {
  margin-top: 2em;
  background-color: #225;
  color: #EEE;
  padding: 1em;
  font-size: 0.9em;
  line-height: 0.9em;
}
body>footer p:last-child {
  margin-bottom: 0;
}