@layer layout {
    #liteboxMask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000044;
        backdrop-filter: blur(3px);
        display: none;
    }
    #liteboxMask.open {
        display: block;
    }
    #litebox {
        position: fixed;
        top: 2em;
        left: 2em;
        right: 2em;
        bottom: 2em;
        background: #F0F0F0;
        border-radius: 2em;
        border: 1px solid #999;
        box-shadow: 3px 3px 5px 2px #00000099;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
    #litebox .controls {
        display: flex;
        height: 24px;
        flex-direction: row;
        align-items: start;
        justify-content: end;
        flex: 0 0 auto;
    }
    #litebox .controls button {
        border: 0 none;
        display: inline-block;
        padding: 12px;
        background: transparent center / contain no-repeat;
        cursor: pointer;
        margin-left: 12px;
    }
    #litebox .controls button:focus {
        outline: 1px dotted #999;
    }
    #litebox .controls button span {
        display: none;
    }
    #litebox .controls .download {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2xvdWQtYXJyb3ctZG93bi1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik04IDJhNS41MyA1LjUzIDAgMCAwLTMuNTk0IDEuMzQyYy0uNzY2LjY2LTEuMzIxIDEuNTItMS40NjQgMi4zODNDMS4yNjYgNi4wOTUgMCA3LjU1NSAwIDkuMzE4IDAgMTEuMzY2IDEuNzA4IDEzIDMuNzgxIDEzaDguOTA2QzE0LjUwMiAxMyAxNiAxMS41NyAxNiA5Ljc3M2MwLTEuNjM2LTEuMjQyLTIuOTY5LTIuODM0LTMuMTk0QzEyLjkyMyAzLjk5OSAxMC42OSAyIDggMm0yLjM1NCA2Ljg1NC0yIDJhLjUuNSAwIDAgMS0uNzA4IDBsLTItMmEuNS41IDAgMSAxIC43MDgtLjcwOEw3LjUgOS4yOTNWNS41YS41LjUgMCAwIDEgMSAwdjMuNzkzbDEuMTQ2LTEuMTQ3YS41LjUgMCAwIDEgLjcwOC43MDgiLz4KPC9zdmc+);
    }
    #litebox .controls .close {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmkteC1jaXJjbGUiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTggMTVBNyA3IDAgMSAxIDggMWE3IDcgMCAwIDEgMCAxNG0wIDFBOCA4IDAgMSAwIDggMGE4IDggMCAwIDAgMCAxNiIvPgogIDxwYXRoIGQ9Ik00LjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDcuMjkzbDIuNjQ2LTIuNjQ3YS41LjUgMCAwIDEgLjcwOC43MDhMOC43MDcgOGwyLjY0NyAyLjY0NmEuNS41IDAgMCAxLS43MDguNzA4TDggOC43MDdsLTIuNjQ2IDIuNjQ3YS41LjUgMCAwIDEtLjcwOC0uNzA4TDcuMjkzIDggNC42NDYgNS4zNTRhLjUuNSAwIDAgMSAwLS43MDgiLz4KPC9zdmc+);
    }
    #litebox .content {
        margin: 12px 0;
        flex: 1 1 auto;
    }
    #litebox .summary {
        flex: 0 0 auto;
        text-align: center;
    }
}