@layer content {
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h1, h2, h3, h4 {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-size: 2.5em;
        margin: 0.3em 0 0.3em 1em;
    }
    h2 {
        font-size: 1.4em;
        margin: 0.4em 0 0.1em;
    }
    h3 {
        font-size: 1.1em;
        margin: 0.4em 0 0.1em;
        font-weight: bold;
    }
    h4 {
        font-size: 1.1em;
        margin: 0.4em 0 0.1em;
    }
    #summaryTable {
        border-collapse: collapse;
        margin: 0.4em 0;
    }
    #summaryTable th, #summaryTable td {
        border: 1px solid #00000066;
        padding: 0.2em 0.5em;
    }
    #summaryTable th {
        background: #00000022;
    }
    #summaryTable thead th.type span {
        display: none;
    }
    #summaryTable th.type,
    #summaryTable td {
        text-align: right;
    }
}