@media (min-width: 992px) {
    body[data-layout=landing]>main>.content>article {
        max-width: 55em;
        margin: 0 auto;
    }
    .landingCodeSample {
        margin-top: 2em;
    }
    .landingCodeSample pre code.hljs {
        font-size: 110%;
        border-radius: 0.6em;
        border: 1px solid #BBB;
        line-height: 150%;
        padding: 2em;
    }
}
@media (max-width: 767.98px) {
    .landingCodeSample pre code.hljs {
        overflow-x: auto;
    }
}

body[data-layout=landing] article .landingNextSteps {
    list-style: none;
    padding-left: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    justify-content: space-between;
}
body[data-layout=landing] article .landingNextSteps li {
    flex: 26% 0 0;
    border-radius: 0.6em;
    border: 1px solid #666;
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.5);
}
body[data-layout=landing] article .landingNextSteps li p {
    text-align: center;
    padding: 1em 0;
}
body[data-layout=landing] article .landingNextSteps li p a {
    display: block;
    padding: 1em 0;
    color: var(--bs-body-color);
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
}
body[data-layout=landing] article .landingNextSteps li.introduction {
    background: #368019;
    background: linear-gradient(155deg, rgba(54, 128, 25, 1) 0%, rgba(80, 150, 68, 1) 17%, rgba(155, 212, 191, 1) 100%);
}
body[data-layout=landing] article .landingNextSteps li.running {
    background: #de9528;
    background: linear-gradient(155deg, rgba(222, 149, 40, 1) 0%, rgba(234, 245, 29, 1) 100%);
}
body[data-layout=landing] article .landingNextSteps li.capabilities {
    background: #303b57;
    background: linear-gradient(155deg, rgba(48, 59, 87, 0.8) 0%, rgba(48, 189, 217, 1) 100%);
}

#capabilitiesList {
    list-style: none;
    padding-left: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: -1.5em;
}

#capabilitiesList li {
    float: left;
    margin-top: 1.5em;
    margin-left: 1.5em;
    background: #EEE;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    padding: 1.5em;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 15em;
    height: 10em;
    text-align: center;
    padding-top: 4em;
}
