<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
        <section name="PluginConfigurationSection"
          type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
        <sectionGroup name="ExpressionEvaluators">
          <sectionGroup name="CSharpExpressions">
            <section name="ExpressionConfigurationSection"
              type="CSF.Zpt.ExpressionEvaluators.CSharpExpressions.ExpressionConfigurationSection, CSF.Zpt.ExpressionEvaluators.CSharpExpressions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- Intentionally empty -->
        <add assembly="System.Dynamic, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="5.2.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="6.0.4.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <CSF>
    <Zpt>
      <PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider"
        DefaultXmlDocumentProvider="CSF.Zpt.DocumentProviders.XmlLinqZptDocumentProvider"
        DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
        <PluginAssemblies>
          <Assembly Name="CSF.Zpt.DocumentProviders.XmlLinq, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
          <Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP, Version=1.1.0.0, Culture=neutral, PublicKeyToken=83989bab8a1a4730"/>
        </PluginAssemblies>
      </PluginConfigurationSection>
      <ExpressionEvaluators>
        <CSharpExpressions>
          <ExpressionConfigurationSection>
            <Assemblies>
              <Assembly Name="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </Assemblies>
            <Namespaces>
              <Namespace Name="System"/>
              <Namespace Name="System.Linq"/>
            </Namespaces>
          </ExpressionConfigurationSection>
        </CSharpExpressions>
      </ExpressionEvaluators>
    </Zpt>
  </CSF>
</configuration>