<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
        <section name="PluginConfigurationSection" type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <CSF>
    <Zpt>
      <PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider" DefaultXmlDocumentProvider="CSF.Zpt.DocumentProviders.XmlLinqZptDocumentProvider" DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
        <PluginAssemblies>
          <Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP" />
          <Assembly Name="CSF.Zpt.DocumentProviders.XmlLinq" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions" />
        </PluginAssemblies>
      </PluginConfigurationSection>
    </Zpt>
  </CSF>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- Intentionally empty -->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="5.2.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="6.0.4.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>