name: Cross-browser testing

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "27 20 * * 0"

jobs:

  # Summary:
  #
  # * Installs and configures the environment
  # * Builds the solution in Release configuration
  # * Runs just the Selenium tests
  #   * In Release configuration (.NET tests)
  #   * Using the BrowserStack SDK

  browser_tests:

    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        include:
          - browserName: Chrome
            browserVersion: latest-50
            os: Windows
            osVersion: 11
            configName: Chrome_legacy
          - browserName: Chrome
            browserVersion: latest
            os: Windows
            osVersion: 11
            configName: Chrome_latest
          - browserName: Edge
            browserVersion: latest
            os: Windows
            osVersion: 11
            configName: Edge_latest
          - browserName: Firefox
            browserVersion: latest
            os: Windows
            osVersion: 11
            configName: Firefox_latest
          - browserName: Firefox
            browserVersion: latest-40
            os: Windows
            osVersion: 11
            configName: Firefox_legacy
          - browserName: Safari
            browserVersion: 17.3
            os: OS X
            osVersion: Sonoma
            configName: Safari_17
          - browserName: Safari
            browserVersion: 26.2
            os: OS X
            osVersion: Tahoe
            configName: Safari_26

    name: Run tests
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    env:
      RunNumber: ${{ github.run_number }}.${{ github.run_attempt }}
      VersionSuffix: crossbrowser.${{ github.run_number }}
      Configuration: Release
      Tfm: net8.0
      DotnetVersion: 8.0.x
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      BROWSERSTACK_BUILD_IDENTIFIER: cbt.${{ matrix.configName }}.${{ github.run_number }}.${{ github.run_attempt }}
      BS_BROWSER_NAME: ${{ matrix.browserName }}
      BS_BROWSER_VERSION: ${{ matrix.browserVersion }}
      BS_OS: ${{ matrix.os }}
      BS_OS_VERSION: ${{ matrix.osVersion }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install build dependencies

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DotnetVersion }}
      - name: Install Node.js for building JSON-to-HTML report converter
        uses: actions/setup-node@v6.2.0

      # Environment setup pre-build
      # Note that the BrowserStack SDK is presently incompatible with .NET 10

      - name: Activate BrowserStack
        run: |
          cp Tests/CSF.Screenplay.Selenium.Tests/Tools/BrowserStack.props Tests/CSF.Screenplay.Selenium.Tests/BrowserStack.props

      - name: Force .NET 8 with global.json
        run: |
          echo '{ "sdk": { "version": "8.0.418", "rollForward": "latestFeature" } }' > global.json
      - name: Restore Node modules
        run: |
          cd CSF.Screenplay.JsonToHtmlReport.Template/src
          npm ci
          cd ../..
      - name: Restore NuGet packages
        run: dotnet restore

      # Build and test the solution

      - name: Run .NET Selenium tests only
        id: dotnet_tests
        run: dotnet test -c ${{ env.Configuration }} --filter TestCategory=WebDriver Tests/CSF.Screenplay.Selenium.Tests
        continue-on-error: true

      # Post-test tasks (artifacts, overall status)
      - name: Upload Screenplay JSON report artifact
        uses: actions/upload-artifact@v4
        with:
          name: Screenplay JSON reports ${{ matrix.configName }}
          path: Tests/CSF.Screenplay.Selenium.Tests/**/ScreenplayReport_*.json
      - name: Convert Screenplay reports to HTML
        continue-on-error: true
        run: |
          for report in $(find Tests/CSF.Screenplay.Selenium.Tests/ -type f -name "ScreenplayReport_*.json")
          do
            reportDir=$(dirname "$report")
            outputFile="$reportDir/ScreenplayReport.html"
            dotnet run --framework $Tfm -c ${{ env.Configuration }} --project CSF.Screenplay.JsonToHtmlReport --ReportPath "$report" --OutputPath "$outputFile"
          done
      - name: Upload Screenplay HTML report artifact
        uses: actions/upload-artifact@v4
        with:
          name: Screenplay HTML reports ${{ matrix.configName }}
          path: Tests/**/ScreenplayReport.html
      - name: Fail the build if any test failures
        if: steps.dotnet_tests.outcome == 'failure'
        run: |
          echo "Failing the build due to test failures"
          exit 1
