name: .NET CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  buildAndRunBasicTests:
    runs-on: ubuntu-slim

    # env:
      # TODO: put env vars here

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Install build dependencies

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Setup Node.js for building JSON-to-HTML report converter
      uses: actions/setup-node@v6.2.0
    - name: Setup Java JDK for SonarScanner
      uses: actions/setup-java@v5.1.0
      with:
        java-version: 17

    # Environment setup pre-build

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2
    - name: Setup SonarScanner
      run: dotnet tool install --global dotnet-sonarscanner
    - name: Setup Coverlet console
      run: dotnet tool install --global coverlet.console

    # Start SonarScanner

    # Build
    - name: Build the solution
      run: dotnet build --no-incremental

    # Test .NET (with coverage)

    # Test JavaScript (with coverage)

    # Stop SonarScanner

    # Upload test results artifact

    # Convert Screenplay reports to HTML and upload artifacts

    # Upload build-results artifacts
  
  buildDocs:
    # TODO: Build the docco site and package the result as an artifact, don't publish it

  publishDocs:
    # TODO: Take the docco site artifact and publish it to master

  runBrowserTests:
    # TODO: Use build-results artifacts and run tests on matrix of browsers










    # - name: Execute unit tests
    #   run: dotnet test

    # # Restore the application to populate the obj folder with RuntimeIdentifiers
    # - name: Restore the application
    #   run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
    #   env:
    #     Configuration: ${{ matrix.configuration }}

    # # Decode the base 64 encoded pfx and save the Signing_Certificate
    # - name: Decode the pfx
    #   run: |
    #     $pfx_cert_byte = [System.Convert]::FromBase64String("${{ secrets.Base64_Encoded_Pfx }}")
    #     $certificatePath = Join-Path -Path $env:Wap_Project_Directory -ChildPath GitHubActionsWorkflow.pfx
    #     [IO.File]::WriteAllBytes("$certificatePath", $pfx_cert_byte)

    # # Create the app package by building and packaging the Windows Application Packaging project
    # - name: Create the app package
    #   run: msbuild $env:Wap_Project_Path /p:Configuration=$env:Configuration /p:UapAppxPackageBuildMode=$env:Appx_Package_Build_Mode /p:AppxBundle=$env:Appx_Bundle /p:PackageCertificateKeyFile=GitHubActionsWorkflow.pfx /p:PackageCertificatePassword=${{ secrets.Pfx_Key }}
    #   env:
    #     Appx_Bundle: Always
    #     Appx_Bundle_Platforms: x86|x64
    #     Appx_Package_Build_Mode: StoreUpload
    #     Configuration: ${{ matrix.configuration }}

    # # Remove the pfx
    # - name: Remove the pfx
    #   run: Remove-Item -path $env:Wap_Project_Directory\GitHubActionsWorkflow.pfx

    # # Upload the MSIX package: https://github.com/marketplace/actions/upload-a-build-artifact
    # - name: Upload build artifacts
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: MSIX Package
    #     path: ${{ env.Wap_Project_Directory }}\AppPackages
