name: .NET CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  buildAndRunBasicTests:
    runs-on: ubuntu-slim

    env:
      RunNumber: ${{ github.run_number }}.${{ github.run_attempt }}
      SonarCloudProject: csf-dev_CSF.Screenplay
      SonarCloudUsername: craigfowler-github
      SonarCloudUrl: https://sonarcloud.io
      Configuration: Debug
      Tfm: net8.0
      DotnetVersion: 8.0.x
      SonarCloudSecretKey: ${{ secrets.SONARCLOUDKEY }}
      BranchName: ${{ github.event_name == 'pull_request' && github.base_ref || github.ref_name }}
      BranchParam: ${{ github.event_name == 'pull_request' && 'sonar.pullrequest.branch' || 'sonar.branch.name' }}
      PullRequestParam: ${{ github.event_name == 'pull_request' && format('/d:sonar.pullrequest.key={0}', github.event.number) || '' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Install build dependencies

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DotnetVersion }}
    - name: Install Node.js for building JSON-to-HTML report converter
      uses: actions/setup-node@v6.2.0
    - name: Install Java JDK for SonarScanner
      uses: actions/setup-java@v5.1.0
      with:
        java-version: 21
        distribution: 'zulu'

    # Environment setup pre-build

    - name: Add .NET global tools location to PATH
      run: echo "$HOME/.dotnet/tools" >> "$GITHUB_PATH"
    - name: Install SonarScanner
      run: dotnet tool install --global dotnet-sonarscanner
    - name: Install Coverlet console
      run: dotnet tool install --global coverlet.console
    - name: Setup Selenium Manager config
      run: |
        mkdir ~/.cache/selenium
        cp Tools/se-config.toml ~/.cache/selenium
    - name: Setup an Xvfb display so Chrome may run
      run: |
        Xvfb -ac :99 -screen 0 1280x1024x16 &
        export DISPLAY=:99

    # Build and test the solution

    - name: Restore .NET packages
      run: dotnet restore
    - name: Start SonarScanner
      run: >
        dotnet sonarscanner begin
        /k:${{ env.SonarCloudProject }}
        /v:GitHub_build_${{ env.RunNumber }}
        /o:${{ env.SonarCloudUsername }}
        /d:sonar.host.url=${{ env.SonarCloudUrl }}
        /d:sonar.token=${{ env.SonarCloudSecretKey }}
        /d:${{ env.BranchParam }}=${{ env.BranchName }}
        ${{ env.PullRequestParam }}
        /d:sonar.javascript.lcov.reportPaths=CSF.Screenplay.JsonToHtmlReport.Template/src/TestResults/lcov.info
        /s:${{ env.PWD }}/.sonarqube-analysisproperties.xml
    - name: Build the solution
      run: dotnet build -c ${{ env.Configuration }} --no-incremental
    - name: Run .NET tests with coverage
      run: |
        AnyFailures=0
        for proj in Tests/*.Tests
        do
          projNameArray=(${proj//// })
          projName=${projNameArray[1]}
          assemblyPath=$proj/bin/$Configuration/$Tfm/$projName.dll
          coverlet "$assemblyPath" --target "dotnet" --targetargs "test $proj -c $Configuration --no-build --logger:nunit --test-adapter-path:." -f=opencover -o="TestResults/$projName.opencover.xml"
          if [ $? -ne 0 ]
          then
            AnyFailures=1
          fi
        done
        export AnyFailures
    - name: Run JavaScript tests with coverage
      run: |
        cd CSF.Screenplay.JsonToHtmlReport.Template/src
        npm test
        if [ $? -ne 0 ]
        then
          export AnyFailures=1
        fi
        cd ../..
    - name: Stop SonarScanner
      run:
        dotnet sonarscanner end /d:sonar.token=${{ env.SonarCloudSecretKey }}
    - name: Upload test results artifacts
      uses: actions/upload-artifact@v4
      with:
        name: NUnit test results
        path: Tests/*.Tests/**/TestResults.xml
    - name: Upload Screenplay JSON report artifact
      uses: actions/upload-artifact@v4
      with:
        name: Screenplay JSON reports
        path: Tests/**/ScreenplayReport_*.json
    - name: Fail the build if any test failures
      run: |
        if [ $AnyFailures -ne 0 ]
        then
          echo "Failing the build due to test failures"
          exit 1
        fi

    # TODO: Convert Screenplay reports to HTML and upload as an artifact
  
  # buildDocs:
    # TODO: Build the docco site and package the result as an artifact, don't publish it

  # publishDocs:
    # TODO: Take the docco site artifact and publish it to master

  # runBrowserTests:
    # TODO: Use build-results artifacts and run tests on matrix of browsers
