@layer content {
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 1.35em;
    }
    .hidden {
        display: none;
    }
    h1, h2, h3, h4 {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-size: 2.5em;
        line-height: 1.35em;
        margin: 0.2em 0 0.1em 1em;
    }
    h2 {
        font-size: 1.4em;
        line-height: 1.35em;
        margin: 1em 0 0;
    }
    h3 {
        font-size: 1.2em;
        line-height: 1.35em;
        margin: 0;
        font-weight: bold;
    }
    h4 {
        line-height: 1.35em;
        margin: 0.4em 0 0;
        font-weight: bold;
    }
    body > footer {
        color: #666;
    }
    body > footer a {
        color: #88A;
    }
    body > footer a:hover {
        color: #66D
    }
}